{% extends 'base.html' %}
{% block title %} Domů {% endblock %}

{% block content %}

<div class="container">

	<h1>Enterpreneur evidence</h1>

	<form>
  		<div class="form-group">
		    <label for="firstNameInput">First name</label>
		    <input type="text" class="form-control" id="firstNameInput" />
  		</div>

		<div class="form-group">
			<label for="lastNameInput">Last name</label>
		 	<input type="text" class="form-control" id="lastNameInput">
		</div>

		<div class="form-group">
			<label for="emailInput">E-mail</label>
		 	<input type="text" class="form-control" id="emailInput">
		</div>

		<div class="form-group">
			<label for="icoInput">ICO</label>
		 	<input type="text" class="form-control" id="icoInput">
		</div>

  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}



