{% extends 'base.html' %}
{% block title %} Domů {% endblock %}

{% block content %}

{% if form %}
    <!-- Display Form -->
    <div class="container">
    	<h1>Enterpreneur evidence</h1>

	    <form action="." method="POST">
		    {% csrf_token %}
		    {% for field in form %}
		        <div class="form-group">
		            <label>{{ field.label }}</label>
		            {{ field }}
		        </div>
		    {% endfor %}

            {% if form.errors %}
                <div class="form-error-container"> 
                    {{ form.errors }}
                </div>
            {% endif %}

	    	<button id="submitFormBtn" type="submit" class="btn btn-primary">Submit</button>
	    </form>

    </div>
  
{% endif %}



{% endblock %}
