h1 {
	margin-bottom: 2vh; margin-top: 2vh
}


.form-error-container {
	margin-top: 1vh;
	margin-bottom: 1vh;
	border: 1px solid red;
}


.table-content-hidden {
	display: none;
}

.table-content {
	margin-top: 5vh;
}

.search-content-btn {
	margin-top: 1.5vh;
}