{% extends 'base.html' %}
{% block title %} Domů {% endblock %}

{% block content %}

<div class="container page-content-container">
    
    <h1>Fetch data from URL</h3>


    <form method="POST">
        
        <div class="container">

          <div class="row">
            <div class="col-md-6">
              <label for="basic-url">Website URL</label>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
               <button type="button" class="btn btn-success">GO</button>
            </div>
          </div>

          <br/>
    
          <button type="button" class="btn btn-primary">Show data</button>

        </div>
            
    </form>


{% endblock %}






